body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.saldo, .numeroConta {
    font-size: 24px;
    text-align: center;
    color: #007BFF;
}

.btn-transferencia {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-transferencia:hover {
    background-color: #0056b3;
    color: #fff;
}

.btn-back {
    color: #007bff;
}

.btn-back:hover {
    color: #00346B;
}

p {
    font-size: 18px;
}

.account-number {
    font-weight: bold;
    color: #007bff;
}

.balance {
    font-weight: bold;
    color: #28a745;
}